.barchart{
    width:700px;
    height:700px;
    margin-left: 50px;
    margin-top: 6rem;
}

.linechart {
    width:700px;
    height:700px;
    margin-left: 850px;
    margin-top: -700px;
}
/* .dashboard-content h1{
    margin-left: -500px;
} */